/*custom variables */
:root {
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --mainBG-Verydarkblue: hsl(217, 54%, 11%);
  --cardBG-Verydarkblue: hsl(216, 50%, 16%);
  --White: hsl(0, 0%, 100%);
  --line-Verydarkblue: hsl(215, 32%, 27%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--mainBG-Verydarkblue);
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  display: grid;
  place-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.125rem;
}
/* card styles */
.card {
  width: 22.5rem;
  background-color: var(--cardBG-Verydarkblue);
  border-radius: 1rem;
  padding: 1.375rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0 3.125rem 3.125rem,
    rgba(0, 0, 0, 0.23) 0 3.125rem 3.125rem;
}
img {
  max-width: 100%;
  border-radius: 0.5rem;
}
.card .card-image-container {
  position: relative;
}
.card .card-image-container div {
  position: absolute;
  top: 0;
  background-color: hsl(178, 100%, 50%, 60%);
  width: 100%;
  height: calc(100% - 0.25rem);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 0.5rem;
}
.card .card-image-container div:hover {
  opacity: 1;
  cursor: pointer;
}
.card .card-image-container div img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card h3 {
  color: var(--White);
  padding: 0.9375rem 0 0.9375rem;
}
.card h3:hover {
  color: var(--Cyan);
  cursor: pointer;
}
.card .first-paragraph {
  color: var(--Softblue);
  padding: 0 0 0.9375rem;
}
.card ul li {
  list-style: none;
  display: inline-block;
}
.card .first-list {
  float: left;
  color: var(--Cyan);
}

.card .second-list {
  position: relative;
  left: 6.25rem;
  color: var(--Softblue);
}
.card ul li svg {
  margin-right: 10px;
}
hr {
  margin-top: 20px;
  border-bottom: 0.0625rem solid var(--line-Verydarkblue);
}
.second-image {
  width: 15%;
  margin-top: 1.25rem;
  border: 0.125rem solid var(--White);
  border-radius: 50%;
}
.second-paragraph {
  float: right;
  margin-top: 1.875rem;
  position: relative;
  left: -3.125rem;
  color: var(--Softblue);
}
.card .second-paragraph span {
  color: var(--White);
}
.card .second-paragraph span:hover {
  color: var(--Cyan);
  cursor: pointer;
}

p {
  font-weight: 300;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  padding-top: 1rem;
  color: var(--Softblue);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
